/* Свойства стиля элемента. Подробнее о них в модуле по CSS */
/*Задание 26.4.4 Общее свойство iframe-контейнеров - чтобы в строку*/
.video-container { /* Это класс*/
    display: inline-block;
    padding-left: 1%;
}

.navbar { /* Это класс*/
    color: darkgray;
    padding-left: 15%;
}

header { /* А это тег! */
    padding-left: 1%;
}

/* Задание 26.5.5 Сделайте футер */
footer { /* А это тег! */
    position: absolute;
    bottom: 0;
}

aside { /* А это тег! */
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 20px;
}

body { /* А это тег! */
    padding-left: 11%;
}

.video-title { /* А это Класс */
    font-style: italic;
    text-align: center;
}
